- content_for :page_title do
  = t('settings.account_settings')

= render 'status'

%h3= t('auth.security')

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: 'auth_edit', novalidate: false }) do |f|
  = render 'shared/error_messages', object: resource

  - if (!use_seamless_external_login? || resource.encrypted_password.present?) && !omniauth_only?
    .fields-row
      .fields-row__column.fields-group.fields-row__column-6
        = f.input :email, wrapper: :with_label, input_html: { 'aria-label': t('simple_form.labels.defaults.email') }, required: true, disabled: current_account.suspended?
      .fields-row__column.fields-group.fields-row__column-6
        = f.input :current_password, wrapper: :with_label, input_html: { 'aria-label': t('simple_form.labels.defaults.current_password'), autocomplete: 'current-password' }, required: true, disabled: current_account.suspended?, hint: false

    .fields-row
      .fields-row__column.fields-group.fields-row__column-6
        = f.input :password, wrapper: :with_label, label: t('simple_form.labels.defaults.new_password'), input_html: { 'aria-label': t('simple_form.labels.defaults.new_password'), autocomplete: 'new-password', minlength: User.password_length.first, maxlength: User.password_length.last }, hint: t('simple_form.hints.defaults.password'), disabled: current_account.suspended?
      .fields-row__column.fields-group.fields-row__column-6
        = f.input :password_confirmation, wrapper: :with_label, label: t('simple_form.labels.defaults.confirm_new_password'), input_html: { 'aria-label': t('simple_form.labels.defaults.confirm_new_password'), autocomplete: 'new-password' }, disabled: current_account.suspended?

    .actions
      = f.button :button, t('generic.save_changes'), type: :submit, class: 'button', disabled: current_account.suspended?
  - elsif omniauth_only?
    %a{:href => sso_account_settings}= t('settings.goto_sso_account_settings')
  - else
    %p.hint= t('users.seamless_external_login')

%hr.spacer/

= render 'sessions'

- unless current_account.suspended?
  %hr.spacer/

  %h3= t('auth.migrate_account')
  %p.muted-hint= t('auth.migrate_account_html', path: settings_migration_path)

  %hr.spacer/

  %h3= t('migrations.incoming_migrations')
  %p.muted-hint= t('migrations.incoming_migrations_html', path: settings_aliases_path)

  %hr.spacer/

  %h3= t('auth.delete_account')
  %p.muted-hint= t('auth.delete_account_html', path: settings_delete_path)
